<div style="position:fixed;bottom:0;left:0;width:100%;margin:auto;">
    <div class="rounded-lg flex flex-row content-start place-content-start place-items-start items-center glass shadow-lg overflow-auto flex-nowrap" style="width:90%;margin:auto;padding:0px 5px;">
        <div style="min-width:300px;">
            <div style="height:70px;overflow:auto;">
                <div class="gameCategories">
                    <%- data['gameCategoriesHtml'] %>
                    <%- data['gameTagsHtml'] %>
                </div>
            </div>
        </div>
    </div>
</div>