<div class="m-2">
    <div class="alert glass shadow-lg">
        <div>
            <span class="card-title text-primary-content">Tags</span>
        </div>
    </div>
</div>
<div class="gameTags py-4">
    <%- data['gameTagsHtml'] %>
</div>