<%- include('../layouts/'+ theme +'/header', {query:query, data:data}) %>

<div class="gameArea">
  <%- data['gameHtml'] %>
</div>

<%- include('../layouts/'+ theme +'/footer', {query:query, data:data}) %>